cassandra_password: 'SoHoorain6'
cassandra_data_dir: '/data/cassandra'

cassandra_nodes: "{% for host in groups.tag_Cassandra_Yes %}{{ hostvars[host].ec2_private_ip_address }}{% if not loop.last %},{% endif %}{% endfor %}"
  
malt_engine_config:
  "cache-on": true
  "port": 3000
  "host": "0.0.0.0"
  "session-ttl": 900
  "storage-keyspace": malt
  "storage-nodes": "{{ cassandra_nodes.split(',')}}"
  "storage-password": "{{cassandra_password}}"
  "storage-user": malt
  "monitoring-hostname": "{{ansible_hostname}}"
  "zabbix-host": "zp01internal.dc02.favorit"
  "zabbix-port": 10051
  "noilly-port": 1300

malt_admin_config:
  "host": "0.0.0.0"
  "port": 8080
  "api-addr": "{{groups.tag_Nginx_Yes[0]}}:80/api/"
  "app-env": "production"
  "noilly-port": 1301
  "session-ttl": 3600
  "settings-table": "settings"
  "offload-repo": null
  "storage-keyspace": malt
  "storage-nodes": "{{ cassandra_nodes.split(',')}}"
  "storage-password": "{{cassandra_password}}"
  "storage-user": malt
  "monitoring-hostname": "{{ansible_hostname}}"
  "zabbix-host": "zp01internal.dc02.favorit"
  "zabbix-port": 10051


malt_engine_jmx_port: 7198

cassandra_jmx_port: 7199
cassandra_max_heap_size: '5g'
cassandra_new_heap_size: '2g'
cassandra_max_new_size: '1250m'

malt_engine_heap_size: '5g'
malt_admin_heap_size: '2g'

git_ref: stable
