demo_password: 'Unvash0OvOl6'

cassandra_password: 'DofyelHon6'
cassandra_data_dir: '/data/cassandra'
cassandra_replication_factor: 1
cassandra_seed_nodes: '172.31.29.168'
cassandra_nodes: ['172.31.29.168']
cassandra_malt_ks_replication_strategy:
  "class": "NetworkTopologyStrategy"
  "DC01": "{{cassandra_replication_factor}}"

cassandra_system_ks_replication_strategy:
  "class": "NetworkTopologyStrategy"
  "DC01": "{{groups.tag_Cassandra_Yes|length}}"

nginx_listen_address: '52.29.225.155'

malt_admin_host: '172.31.29.168'

config:
  "ip-172-31-29-168":
    cassandra_listen_address: '172.31.29.168'
    cassandra_rmi_host: '172.31.29.168'
    cassandra_dc: DC01
    cassandra_rack: RACK01
    malt_engine_rmi_host: '172.31.29.168'
    malt_engine_host: '172.31.29.168'

malt_engine_config:
  "cache-on": true
  "port": 3000
  "host": "{{config[ansible_hostname].malt_engine_host}}"
  "session-ttl": 900
  "storage-keyspace": malt
  "storage-nodes": "{{cassandra_nodes}}"
  "storage-password": "{{cassandra_password}}"
  "storage-user": malt
  "storage-default-dc": "DC01"
  "monitoring-hostname": "{{ansible_nodename}}"
  "zabbix-host": null
  "zabbix-port": 10051
  "noilly-port": 1300

malt_admin_config:
  "host": "{{malt_admin_host}}"
  "port": 8080
  "m-engine-api-addr": "{{nginx_listen_address}}/api"
  "app-env": "production"
  "noilly-port": 1301
  "session-ttl": 3600
  "settings-table": "settings"
  "offload-repo": null
  "storage-keyspace": malt
  "storage-nodes": "{{cassandra_nodes}}"
  "storage-password": "{{cassandra_password}}"
  "storage-user": malt
  "storage-default-dc": "DC01"
  "monitoring-hostname": "{{ansible_nodename}}"
  "zabbix-host": null
  "zabbix-port": 10051


malt_balancer_jmx_port: 9010
malt_balancer_config:
  "poll-interval-ms": 5000
  "poll-timeout-ms": 1000
  "storage-keyspace": malt
  "storage-nodes": "{{cassandra_nodes}}"
  "storage-password": "{{cassandra_password}}"
  "white-list-ttl": 900
  "black-list-ttl": 900
  "storage-user": malt
  "storage-default-dc": "DC01"
  "engines":
   - "server": "{{config[ansible_hostname].malt_engine_host}}:{{malt_engine_config.port}}"
     "sessions-limit": 10

malt_balancer_jmx_port: 9010
malt_balancer_config:
  "poll-interval-ms": 5000
  "poll-timeout-ms": 1000
  "storage-keyspace": malt
  "storage-nodes": "{{cassandra_nodes}}"
  "storage-password": "{{cassandra_password}}"
  "white-list-ttl": 900
  "black-list-ttl": 900
  "storage-user": malt
  "engines":
   - "server": "{{config[ansible_hostname].malt_engine_host}}:{{malt_engine_config.port}}"
     "sessions-limit": 10

malt_engine_jmx_port: 7198

cassandra_jmx_port: 7199
cassandra_max_heap_size: '10g'
cassandra_new_heap_size: '3g'
cassandra_max_new_size: '2m'

malt_engine_heap_size: '15g'
malt_admin_heap_size: '1g'

git_ref: stable