ansible_ssh_user: malt_deploy
ansible_ssh_port: 22
ansible_ssh_pass: WynorOpt8

cassandra_password: 'CacNeck5'
cassandra_data_dir: '/data/cassandra'
cassandra_replication_factor: 2
cassandra_seed_nodes: '192.168.167.144,192.168.167.145'
cassandra_nodes: ['192.168.167.144', '192.168.167.145', '192.168.167.146']

nginx_listen_address: '192.168.167.140'

malt_admin_host: '192.168.167.145'

config:
  "vmalt01":
    cassandra_listen_address: '192.168.167.144'
    cassandra_rmi_host: '192.168.167.144'
    malt_engine_rmi_host: '192.168.167.144'
    malt_engine_host: '192.168.167.144'

  "vmalt02":
    cassandra_listen_address: '192.168.167.145'
    cassandra_rmi_host: '192.168.167.145'
    malt_engine_rmi_host: '192.168.167.145'
    malt_engine_host: '192.168.167.145'

  "vmalt03":
    cassandra_listen_address: '192.168.167.146'
    cassandra_rmi_host: '192.168.167.146'
    malt_engine_rmi_host: '192.168.167.146'
    malt_engine_host: '192.168.167.146'


malt_engine_config:
  "cache-on": false
  "port": 3000
  "host": "{{config[ansible_hostname].malt_engine_host}}"
  "session-ttl": 900
  "storage-keyspace": malt
  "storage-nodes": "{{cassandra_nodes}}"
  "storage-password": "{{cassandra_password}}"
  "storage-user": malt
  "monitoring-hostname": "{{ansible_nodename}}"
  "zabbix-host": null
  "zabbix-port": 10051
  "noilly-port": 1300

malt_admin_config:
  "host": "{{malt_admin_host}}"
  "port": 8080
  "m-engine-api-addr": "{{nginx_listen_address}}/api"
  "app-env": "production"
  "noilly-port": 1301
  "session-ttl": 3600
  "settings-table": "settings"
  "offload-repo": null
  "storage-keyspace": malt
  "storage-nodes": "{{cassandra_nodes}}"
  "storage-password": "{{cassandra_password}}"
  "storage-user": malt
  "monitoring-hostname": "{{ansible_nodename}}"
  "zabbix-host": null
  "zabbix-port": 10051


malt_engine_jmx_port: 7198

cassandra_jmx_port: 7199
cassandra_max_heap_size: '500m'
cassandra_new_heap_size: '100m'
cassandra_max_new_size: '100m'

malt_engine_heap_size: '2g'
malt_admin_heap_size: '1g'

git_ref: master
