ansible_ssh_user: malt_deploy
ansible_ssh_port: 22
ansible_ssh_pass: WynorOpt8

cassandra_hosts: '{{groups.cassandra|join(",")}}'
cassandra_password: 'CacNeck5'
cassandra:
  dc01m01.favorit:
    listen_address: '192.168.167.144'
    seed_nodes: '192.168.167.144,192.168.167.145'

  dc01m02.favorit:
    listen_address: '192.168.167.145'
    seed_nodes: '192.168.167.144,192.168.167.145'

  dc01m03.favorit:
    listen_address: '192.168.167.146'
    seed_nodes: '192.168.167.144,192.168.167.145'
cassandra_data_dir: '/data/cassandra'
cache_on: false
malt_engine_heap_size: '2g'
malt_admin_heap_size: '1g'
zabbix_host: '{{groups.zabbix[0]}}'
zabbix_port: '10051'
git_ref: master
