ansible_ssh_user: malt_deploy
ansible_ssh_pass: M$HVkfa
ansible_sudo_pass: M$HVkfa

cassandra_password: 'Karghik2'
cassandra_data_dir: '/data/cassandra'

cassandra:
  dc01m01:
    listen_address: '195.137.167.144'
    seed_nodes: '195.137.167.144,195.137.167.145'

  dc01m02:
    listen_address: '195.137.167.145'
    seed_nodes: '195.137.167.144,195.137.167.145'

  dc01m03:
    listen_address: '195.137.167.146'
    seed_nodes: '195.137.167.144,195.137.167.145'

malt_engine_config:
  "cache-on": true
  "port": 3000
  "host": "0.0.0.0"
  "session-ttl": 900
  "storage-keyspace": malt
  "storage-nodes": "{{groups.cassandra}}"
  "storage-password": "{{cassandra_password}}"
  "storage-user": malt
  "monitoring-hostname": "{{ansible_nodename}}"
  "zabbix-host": "zabbix.favbet.com"
  "zabbix-port": 10051
  "noilly-port": 1300

malt_admin_config:
  "host": "0.0.0.0"
  "port": 80
  "app-env": "production"
  "noilly-port": 1301
  "session-ttl": 3600
  "settings-table": "settings"
  "storage-keyspace": malt
  "storage-nodes": "{{groups.cassandra}}"
  "storage-password": "{{cassandra_password}}"
  "storage-user": malt
  "monitoring-hostname": "{{ansible_nodename}}"
  "zabbix-host": "zabbix.favbet.com"
  "zabbix-port": 10051

malt_engine_jmx_port: 7198
cassandra_jmx_port: 7199
malt_engine_heap_size: '30g'
malt_admin_heap_size: '1g'
git_ref: stable
