ansible_ssh_user: malt_deploy
ansible_ssh_pass: M$HVkfa
ansible_sudo_pass: M$HVkfa

cassandra_hosts: '{{groups.cassandra|join(",")}}'
cassandra_password: 'Karghik2'
cache_on: false
malt_engine_heap_size: '2g'
malt_admin_heap_size: '1g'
git_ref: stable
