ansible_ssh_user: malt_deploy
ansible_ssh_pass: M$HVkfa
ansible_sudo_pass: M$HVkfa

cassandra_password: 'Karghik2'
cassandra_data_dir: '/var/lib/cassandra/data'

cassandra:
  malt-test01:
    listen_address: 'malt-test01'
    seed_nodes: 'malt-test01'

malt_engine_config:
  "cache-on": false
  "port": 3000
  "host": "0.0.0.0"
  "session-ttl": 900
  "storage-keyspace": malt
  "storage-nodes": "{{groups.cassandra}}"
  "storage-password": "{{cassandra_password}}"
  "storage-user": malt
  "monitoring-hostname": "{{ansible_nodename}}"
  "zabbix-host": "zabbix.favbet.com"
  "zabbix-port": 10051
  "noilly-port": 1300

malt_admin_config:
  "host": "0.0.0.0"
  "port": 80
  "app-env": "production"
  "noilly-port": 1301
  "session-ttl": 3600
  "offload-repo": null
  "settings-table": "settings"
  "storage-keyspace": malt
  "storage-nodes": "{{groups.cassandra}}"
  "storage-password": "{{cassandra_password}}"
  "storage-user": malt
  "monitoring-hostname": "{{ansible_nodename}}"
  "zabbix-host": "zabbix.favbet.com"
  "zabbix-port": 10051

malt_engine_jmx_port: 7198
cassandra_jmx_port: 7199
malt_engine_heap_size: '4g'
malt_admin_heap_size: '1g'
git_ref: stable
