ansible_ssh_user: malt_deploy
ansible_ssh_pass: M$HVkfa
ansible_sudo_pass: M$HVkfa

cassandra_hosts: '{{groups.cassandra|join(",")}}'
cassandra_password: 'Karghik2'
cassandra_data_dir: '/var/lib/cassandra/data'
cache_on: false
malt_engine_heap_size: '2g'
malt_admin_heap_size: '1g'
zabbix_host: '{{groups.zabbix[0]}}'
zabbix_port: '10051'
git_ref: stable

cassandra:
  malt-test01.favorit:
    listen_address: 'malt-test01'
    seed_nodes: 'malt-test01'

malt_engine_jmx_port: 7198
cassandra_jmx_port: 7199
