upstream malt_engines {
  hash $request_uri consistent;
  {% for host, cfg in config.iteritems() %}
  server {{ cfg.malt_engine_host }}:3000;
  {% endfor %}
}

server {
  listen 80;
  client_max_body_size 50m;

  error_page   500 502 503 504 /error503.html;

  location = /error503.html {
        root /var/www/;
        internal;
  }

  location /error/ {
        root /var/www/;
  }

  location /nginx_stats {
    stub_status on;
    access_log off;
    allow 127.0.0.1;
    deny all;
  }
  location /api/ {
    proxy_pass http://malt_engines/;
  }
  location / {
    proxy_pass http://{{malt_admin_config.host}}:{{malt_admin_config.port}};
  }
}
