upstream malt_engines {
  hash $request_uri consistent;
  {% for h in groups.tag_MaltEngine_Yes %}
  server {{ hostvars[h].ec2_private_ip_address }}:3000;
  {% endfor %}
}

server {
  listen 80;
  location / {
    proxy_pass http://malt_engines;
  }
	location /nginx_stats {
   	stub_status on;
    access_log off;
    allow 127.0.0.1;
    deny all;
    }
}
