[Unit]
Description=Malt Engine
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/malt_deploy/malt_engine
Environment="JVM_OPTS=-Xmx{{malt_engine_heap_size}} -Dlogback.configurationFile=resources/logback.production.xml -Dcom.sun.management.jmxremote.port={{malt_engine_jmx_port}} -Dcom.sun.management.jmxremote.rmi.port={{malt_engine_jmx_port}} -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -Djava.rmi.server.hostname={{cassandra[ansible_nodename].listen_address}}"
Environment="BAGIRA_USERNAME=erlybet"
Environment="BAGIRA_PRIVATE_KEY_FILE=/home/malt_deploy/.ssh/favfeed-deploy"
TimeoutStartSec=0
ExecStartPre=/usr/bin/lein protobuf
ExecStart=/usr/bin/lein trampoline run

[Install]
WantedBy=multi-user.target
