- name: user exists?
  command: cqlsh -u malt -p {{cassandra_password}} -e "LIST USERS" {{config[ansible_hostname].cassandra_listen_address}}
  register: user_check
  ignore_errors: yes

#- name: Create malt user
#  shell: >
#    cqlsh -u cassandra -p cassandra -e "CONSISTENCY ALL; CREATE USER malt WITH PASSWORD '{{cassandra_password}}' SUPERUSER"  {{config[ansible_hostname].cassandra_listen_address}}
#  when: user_check|failed
#
#- name: Remove cassandra user
#  shell: >
#    cqlsh -u malt -p {{cassandra_password}} -e "CONSISTENCY ALL; ALTER USER cassandra WITH PASSWORD 'vedCucokvod7' NOSUPERUSER" {{config[ansible_hostname].cassandra_listen_address}}
#  when: user_check|failed
#  ignore_errors: yes

- name: Create schema dir
  file: path=/tmp/schema state=directory

- name: Copy schema settings files
  template: src="schema/{{item}}" dest="/tmp/schema/{{item}}"
  with_items:
    #- settings.cql
    - keyspace.cql
    - schema.cql

- name: Initialize schema
  shell: >
    cqlsh -u cassandra -p cassandra -f /tmp/schema/keyspace.cql {{config[ansible_hostname].cassandra_listen_address}} &&
    cqlsh -u cassandra -p cassandra -f /tmp/schema/schema.cql -k malt  {{config[ansible_hostname].cassandra_listen_address}} &&
    cqlsh -u cassandra -p cassandra -f /tmp/schema/settings.cql -k malt {{config[ansible_hostname].cassandra_listen_address}}
