- name: Add cassandra repo
  shell: echo "deb http://debian.datastax.com/community stable main" | tee -a /etc/apt/sources.list.d/cassandra.sources.list
  sudo: yes

- name: Add key
  apt_key: url=http://debian.datastax.com/debian/repo_key
           state=present
  sudo: yes

- name: Install Cassandra
  apt: name="{{item}}" state=installed  update_cache=yes
  with_items:
    - dsc20=2.0.11-1
    - cassandra=2.0.11
  sudo: yes

- name: Copy cassandra.yaml
  template: src=cassandra.yaml
            dest=/etc/cassandra/cassandra.yaml
  sudo: yes

- name: Copy log4j-server.properties
  copy: src=log4j-server.properties
        dest=/etc/cassandra/log4j-server.properties
        owner=cassandra
        group=cassandra
        mode=755
  sudo: yes

- name: Copy cassandra env
  template: src=cassandra-env.sh
            dest=/etc/cassandra/cassandra-env.sh
            owner=cassandra
            group=cassandra
            mode=755
  sudo: yes

- name: Create cassandra data dir
  file: path={{cassandra_data_dir}} state=directory owner=cassandra
  sudo: yes

- name: Move old logs
  command: mv /var/log/cassandra/system.log /var/log/cassandra/system.log.old
  sudo: yes
  ignore_errors: yes

- name: Move cassandra init script
  command: mv /etc/init.d/cassandra /usr/share/cassandra/cassandra-init.sh
  sudo: yes
  ignore_errors: yes

- name: Copy cassandra upstart conf
  copy: src=cassandra.upstart.conf dest=/etc/init/cassandra.conf
  sudo: yes

- name: Run Cassandra
  service: name=cassandra state=started enabled=yes
  sudo: yes

- name: Wait for Cassandra to start
  wait_for: path=/var/log/cassandra/system.log timeout=60 search_regex='.*Listening for thrift clients.*' state=present