[Unit]
Description=Starts and stops Cassandra
After=syslog.target
After=network.target


[Service]
Type=simple
WorkingDirectory=/usr/share/cassandra

User=cassandra
Group=cassandra

Environment=CASSANDRA_HOME=/usr/share/cassandra
Environment=CASSANDRA_CONF=/etc/cassandra/conf

OOMScoreAdjust=-1000
ExecStart=/usr/sbin/cassandra -f
TimeoutSec=10


[Install]
WantedBy=multi-user.target
WantedBy=malt_engine.service
WantedBy=malt_admin.service
