- name: Copy tar file
  copy: src=common/files/jdk-7u71-linux-x64.tar.gz dest={{ansible_env.HOME}}/jdk-7u71-linux-x64.tar.gz

- name: Extract jdk
  command: "tar xzf {{ansible_env.HOME}}/jdk-7u71-linux-x64.tar.gz"
  args:
    chdir: /opt
    creates: /opt/jdk1.7.0_71
  sudo: yes

- name: Set java Env
  copy: src=common/files/java.sh dest=/etc/profile.d/01-java.sh
  sudo: yes

- name: Update alternatives
  alternatives: name="{{item}}" path="/opt/jdk1.7.0_71/bin/{{item}}" link="/usr/bin/{{item}}"
  with_items:
    - java
    - javac
  sudo: yes

- name: Cleanup
  file: path={{ansible_env.HOME}}/jdk-7u71-linux-x64.tar.gz state=absent
