[Unit]
Description=Malt Engine
After=network.target
After=cassandra.service

[Service]
Type=simple
WorkingDirectory={{ansible_env.HOME}}/malt_engine
Environment="JVM_OPTS=-Xmx{{malt_engine_heap_size}} -Dlogback.configurationFile=resources/logback.production.xml -Dcom.sun.management.jmxremote.port={{malt_engine_jmx_port}} -Dcom.sun.management.jmxremote.rmi.port={{malt_engine_jmx_port}} -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -Djava.rmi.server.hostname={{config[ansible_hostname].malt_engine_rmi_host}} -XX:MaxTenuringThreshold=6"
Environment="LEIN_USERNAME=admin"
Environment="LEIN_PASSWORD=NeOpBac8"
TimeoutStartSec=0
ExecStart=/usr/bin/lein trampoline run

[Install]
WantedBy=multi-user.target
