- name: Create keys dir
  file: path=.ssh state=directory

- name: Copy Keys
  copy: src="keys/{{item}}" dest=".ssh/{{item}}" mode="600"
  with_items:
    - landing
    - landing.pub
    - landing2
    - landing2.pub

- name: Install packets
  apt: name="{{item}}" state=installed
  with_items:
    - git
    - ruby
    - ruby-dev
    - nodejs
    - build-essential
    - libxml2-dev
    - libxslt1-dev
    - zlib1g-dev
  sudo: yes

- name: Clean nginx dir
  file: path=/usr/share/nginx/html state=absent
  sudo: yes

- name: Install middleman
  shell: gem install middleman -v 3.4.0 --no-rdoc --no-ri
  sudo: yes

